@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*Reset Finish*/

:root {
  /* Primary */
  --clr-bright-orange: hsl(31, 77%, 52%);
  --clr-dark-cyan: hsl(184, 100%, 22%);
  --clr-vdark-cyan: hsl(179, 100%, 13%);

  /* Neutral */
  --clr-twhite: hsla(0, 0%, 100%, 0.75);
  --clr-vlight-gray: hsl(0, 0%, 95%);

  --ff-deca: "Lexend Deca", sans-serif;
  --ff-big-shoulders: "Big Shoulders Display", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  /* convert 15px into rem */
  --fs: 0.9375rem;
}
body {
  background-color: var(--clr-vlight-gray);
  color: var(--clr-twhite);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 20rem;
  margin: 1rem;
}

.sedan {
  background-color: var(--clr-bright-orange);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.suvs {
  background-color: var(--clr-dark-cyan);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.luxury {
  background-color: var(--clr-vdark-cyan);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

img {
  height: 2rem;
  width: 3.5rem;
}

p {
  font-size: var(--fs);
  font-weight: var(--fw-regular);
  font-family: var(--ff-decas);
  color: var(--clr-vlight-gray);
  line-height: 1.7rem; /* space between lines */
}

h1 {
  color: var(--clr-vlight-gray);
  font-family: var(--ff-big-shoulders);
  font-weight: var(--fw-bold);
}

button {
  font-size: var(--fs);
  font-weight: bold;
  border: none;
  border-radius: 15px;
  /* width: 5rem;
  height: 3rem; */
}
button:hover {
  background-color: inherit;
  border: 2px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
  cursor: pointer;
}
