@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*Reset Finish*/

:root {
  /* Primary */
  --clr-bright-orange: hsl(31, 77%, 52%);
  --clr-dark-cyan: hsl(184, 100%, 22%);
  --clr-vdark-cyan: hsl(179, 100%, 13%);

  /* Neutral */
  --clr-twhite: hsla(0, 0%, 100%, 0.75);
  --clr-vlight-gray: hsl(0, 0%, 95%);

  --ff-deca: "Lexend Deca", sans-serif;
  --ff-big-shoulders: "Big Shoulders Display", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  /* convert 15px into rem */
  --fs: 0.9375rem;
  --fs-h2: 2rem;
}
body {
  background-color: var(--clr-vlight-gray);
  color: var(--clr-twhite);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 20rem;
  margin: 2srem;
}

.card {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem;
  row-gap: 2rem;
}
.sedan {
  background-color: var(--clr-bright-orange);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.suvs {
  background-color: var(--clr-dark-cyan);
}

.luxury {
  background-color: var(--clr-vdark-cyan);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

img {
  height: 2rem;
  width: 3.5rem;
}

.title {
  font-weight: var(--fw-bold);
  font-family: var(--ff-big-shoulders);
  text-transform: uppercase;
  font-size: var(--fs-h2);
  color: var(--clr-vlight-gray);
}

p {
  font-size: var(--fs);
  font-weight: var(--fw-regular);
  font-family: var(--ff-decas);
  color: var(--clr-twhites);
  line-height: 1.7rem; /* space between lines */
}

.button {
  text-decoration: none;
  background-color: var(--clr-twhite);
  padding: 0.5em 1.5em;
  border-radius: 1.5rem;
  font-family: var(--ff-decas);
  font-size: var(--fs);
  border: solid 0.13rem transparent;
}
.button:hover {
  border: solid 0.13rem var(--clr-twhite);
  background-color: transparent;
  color: var(--clr-twhite);
  cursor: pointer;
}

.brightorange {
  color: var(--clr-bright-orange);
}

.darkcyan {
  color: var(--clr-dark-cyan);
}

.vdarkcyan {
  color: var(--clr-vdark-cyan);
}

@media (min-width: 64rem) {
  .card-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    max-width: 52rem;
  }
  .sedan-border {
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: unset;
  }

  .luxury-border {
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: unset;
  }

  p {
    padding-bottom: 2rem;
  }
}
